<!--The content below is only a placeholder and can be replaced.-->

<div class="container">

    <mat-card-header style="margin-top: 25px; text-align:center; background-color: white; color: black;">
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <form class="form">
        <div class="row" style="margin-top: 25px;">
            <div class="col-md-3" style="margin: 15px;">
                <mat-form-field class="form-control" cellspacing="0">
                    <input matInput [(ngModel)]="empID">
                    <mat-label>Employee_ID</mat-label>
                </mat-form-field>
                <!--<input type="text" class="form-control" [(ngModel)]="empID" placeholder="Employee_ID">-->
            </div>
            <div class="col-md-3" style="margin: 15px;">
                <mat-form-field class="form-control">
                    <input matInput [(ngModel)]="empName" placeholder="Name">
                </mat-form-field>
                <!--<input type="text" class="form-control" [(ngModel)]="empName" placeholder="Name">-->
            </div>
            <div class="col-md-3 " style="margin: 15px;">
                <mat-form-field class="form-control" appearance="fill">
                    <input matInput [matDatepicker]="picker1" [(ngModel)]="dob" placeholder="Date of Birth">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
                <!--<input type="date" class="form-control" [(ngModel)]="dob" placeholder="Date of Birth">-->
            </div>
            <div class="col-md-3" style="margin: 15px;">
                <mat-form-field class="form-control" cellspacing="0">
                    <input matInput [(ngModel)]="deg">
                    <mat-label>Designation</mat-label>
                </mat-form-field>
                <!--<input type=" text" class="form-control" [(ngModel)]="deg" placeholder="Designation">-->
            </div>
            <div class="col-md-3 " style="margin: 15px;">
                <mat-form-field class="form-control" cellspacing="0">
                    <input matInput [(ngModel)]="address">
                    <mat-label>Address</mat-label>
                </mat-form-field>
                <!--<input type="text" class="form-control" [(ngModel)]="address" placeholder="Address">-->
            </div>
            <div class="col-md-3" style="margin: 15px;">
                <mat-form-field class="form-control" appearance="fill">
                    <input matInput [matDatepicker]="picker2" [(ngModel)]="doj" placeholder="Date of Joining">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
                <!--<input type="date" class="form-control" [(ngModel)]="doj" placeholder="Date of Joining">-->
            </div>
            <div class="col-md-3 " style="margin: 15px;">
                <button mat-button (click)="CreateRecord()" [disabled]="!empID || !empName || !dob || !deg || !address || !doj" class="btn btn-primary">+
    Create Employee</button>
            </div>
        </div>
    </form>
    <hr>
    <div class="row" style="margin-top: 15px;">
        <div class="col-md-3">
            <div class="card" style="width: 30rem;" *ngFor="let item of Employees">
                <div class="card-body" *ngIf="!item.isEdit; else elseBlock">
                    <p class="card-text">Employee ID: {{item.Employee_ID}}</p>
                    <p class="card-text">Name: {{item.Name}} </p>
                    <p class="card-text">Date of Birth: {{item.DOB}} </p>
                    <p class="card-text">Designation: {{item.Designation}}</p>
                    <p class="card-text">Address: {{item.Address}}</p>
                    <p class="card-text">Date of Joining: {{item.DOJ}} </p>
                    <a href="#" class="card-link" (click)="EditRecord(item)"><button style="margin:5px;">Edit</button></a>
                    <a href="#" class="card-link" (click)="RemoveRecord(item.id)"><button style="margin:5px;">Delete</button></a>
                </div>
                <ng-template #elseBlock>
                    <div class="card-body">
                        <h5 class="card-title">Edit</h5>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="form-control" cellspacing="0">
                                        <input matInput type="text" [(ngModel)]="item.EditName">
                                        <mat-label>Edit Name</mat-label>
                                    </mat-form-field>
                                    <!--<input matInput type="text" class="form-control" [(ngModel)]="item.EditName" placeholder="Edit Name">-->
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="form-control" appearance="fill">
                                        <input matInput [matDatepicker]="picker3" [(ngModel)]="item.EditDOB" placeholder="Date of Birth">
                                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                    <!--<input matInput type="date" class="form-control" [(ngModel)]="item.EditDOB" placeholder="Edit Date of Birth">-->
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="form-control" cellspacing="0">
                                        <input matInput type="text" [(ngModel)]="item.EditDesignation">
                                        <mat-label>Edit Designation</mat-label>
                                    </mat-form-field>
                                    <!--<input type="text" class="form-control" [(ngModel)]="item.EditDesignation" placeholder="Edit Designation">-->
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="form-control" cellspacing="0">
                                        <input matInput [(ngModel)]="item.EditAddress">
                                        <mat-label>Edit Address</mat-label>
                                    </mat-form-field>
                                    <!--<input type="text" class="form-control" [(ngModel)]="item.EditAddress" placeholder="Edit Address">-->
                                </div>
                                <div class="col-md-12">
                                    <mat-form-field class="form-control" appearance="fill">
                                        <input matInput [matDatepicker]="picker3" [(ngModel)]="item.EditDOJ" placeholder="Date of Joining">
                                        <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                                        <mat-datepicker #picker3></mat-datepicker>
                                    </mat-form-field>
                                    <!--<input type="date" class="form-control" [(ngModel)]="item.EditDOJ" placeholder="Edit Date of Joining">-->
                                </div>
                            </div>
                        </div>

                        <a href="#" class="card-link" (click)="item.isEdit = false"><button mat-button style="margin:5px;">Cancel</button></a>
                        <a href="#" class="card-link" (click)="UpdateRecord(item)"><button mat-button style="margin:5px;">Update</button></a>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <hr>

</div>
